# 2. Pandas #

Pandas es la librería más conocida de Python para manipular y analizar datos.

Pandas nos provee de los Data Frames y las Series.

Data Frames: estructuras de datos de dos dimensiones (rectangulares) que pueden contener datos de diferentes tipos, por lo tanto, son heterogéneas.

Series: Una serie de datos es un conjunto de valores, numéricos o no numéricos, generalmente ligados a una secuencia temporal.

# 2.1 Primeros Pasos #

In [2]:
import pandas as pd

In [3]:
data_dic = {"Jurisdiccion":["CABA","Buenos Aires","Catamarca","Chaco","Chubut","Córdoba","Jujuy","Mendoza","Misiones","Río Negro","Santa Cruz",
                           "Santa Fe"],"Poblacion":[2890151,15625084,367828,1055259,509108,3308876,673307,1738929,
                                                   1101593,638645,273964,3194537],"Superficie":
           [200,307521,102606,99633,509108,165321,53219,148827,29801,203013,243943,133007]}

Tipo de Dato: DICCIONARIO.

Nota: la población está en número de habitantes y la superficie en km2.

Podemos crear Data Frames a partir de diccionarios.

In [4]:
data_pandas = pd.DataFrame(data_dic)

In [5]:
data_pandas

    Jurisdiccion  Poblacion  Superficie
0           CABA    2890151         200
1   Buenos Aires   15625084      307521
2      Catamarca     367828      102606
3          Chaco    1055259       99633
4         Chubut     509108      509108
5        Córdoba    3308876      165321
6          Jujuy     673307       53219
7        Mendoza    1738929      148827
8       Misiones    1101593       29801
9      Río Negro     638645      203013
10    Santa Cruz     273964      243943
11      Santa Fe    3194537      133007

__Ejercicio 1:__ investigar las funciones que se implementan en la próxima celda

In [6]:
data_pandas.head() # Devuelve las primeras n filas para el objeto según la posición. Tipo Predet: int // Valor 5.

   Jurisdiccion  Poblacion  Superficie
0          CABA    2890151         200
1  Buenos Aires   15625084      307521
2     Catamarca     367828      102606
3         Chaco    1055259       99633
4        Chubut     509108      509108

In [7]:
data_pandas.tail() # Devuelve las últimas n filas. Tipo Predet: int // Valor 5.

   Jurisdiccion  Poblacion  Superficie
7       Mendoza    1738929      148827
8      Misiones    1101593       29801
9     Río Negro     638645      203013
10   Santa Cruz     273964      243943
11     Santa Fe    3194537      133007

In [8]:
data_pandas.count() # Cuenta el número de valores en cada columna.

Jurisdiccion    12
Poblacion       12
Superficie      12
dtype: int64

In [9]:
data_pandas.shape # Cuenta el número filas y de columnas.

(12, 3)

__Ejercicio 2:__ agregar al Dataset la información correspondiente a alguna jurisdicción faltante.

In [10]:
info_nueva = {"Jurisdiccion":"Tucuman","Poblacion":1448188,"Superficie": 22524}

In [11]:
data_pandas.append(info_nueva, ignore_index=True)

    Jurisdiccion  Poblacion  Superficie
0           CABA    2890151         200
1   Buenos Aires   15625084      307521
2      Catamarca     367828      102606
3          Chaco    1055259       99633
4         Chubut     509108      509108
5        Córdoba    3308876      165321
6          Jujuy     673307       53219
7        Mendoza    1738929      148827
8       Misiones    1101593       29801
9      Río Negro     638645      203013
10    Santa Cruz     273964      243943
11      Santa Fe    3194537      133007
12       Tucuman    1448188       22524

__Ejercicio 3:__ Investigar las funciones columns e index. ¿Qué hacen? ¿Qué tipo de dato es su salida?¿A qué tipo de dato conocido se parecen?

In [12]:
data_pandas.columns # Detalla el nombre de las columnas.

Index(['Jurisdiccion', 'Poblacion', 'Superficie'], dtype='object')

In [13]:
data_pandas.index # Números de filas y el espacio entre líneas.

RangeIndex(start=0, stop=12, step=1)

__Ejercicio 4:__ ¿Qué hacen las siguientes operaciones?

In [14]:
data_pandas['Jurisdiccion'] # Es una Serie

0             CABA
1     Buenos Aires
2        Catamarca
3            Chaco
4           Chubut
5          Córdoba
6            Jujuy
7          Mendoza
8         Misiones
9        Río Negro
10      Santa Cruz
11        Santa Fe
Name: Jurisdiccion, dtype: object

In [15]:
data_pandas[['Jurisdiccion','Poblacion']] # Es un Dataframe de más de una dimensión

    Jurisdiccion  Poblacion
0           CABA    2890151
1   Buenos Aires   15625084
2      Catamarca     367828
3          Chaco    1055259
4         Chubut     509108
5        Córdoba    3308876
6          Jujuy     673307
7        Mendoza    1738929
8       Misiones    1101593
9      Río Negro     638645
10    Santa Cruz     273964
11      Santa Fe    3194537

In [16]:
data_pandas.Jurisdiccion # No lo puedo utilizar cuando el nombre de la columna tiene Espacios o Caracteres Especiales

0             CABA
1     Buenos Aires
2        Catamarca
3            Chaco
4           Chubut
5          Córdoba
6            Jujuy
7          Mendoza
8         Misiones
9        Río Negro
10      Santa Cruz
11        Santa Fe
Name: Jurisdiccion, dtype: object

In [17]:
'Poblacion' in data_pandas

True

__Ejercicio 5:__ Agregar una columna al dataframe que corresponda a la densidad de cada jurisdicción. Usar la información que ya está en el dataset.

In [18]:
data_dic2 = {"Jurisdiccion":["CABA","Buenos Aires","Catamarca","Chaco","Chubut","Córdoba","Jujuy","Mendoza","Misiones","Río Negro","Santa Cruz",
                           "Santa Fe", "Tucumán"],"Poblacion":[2890151,15625084,367828,1055259,509108,3308876,673307,1738929,
                                                   1101593,638645,273964,3194537,1448188],"Superficie":
           [200,307521,102606,99633,509108,165321,53219,148827,29801,203013,243943,133007,22524]}
# En vez de hacer ésto, podría haber renombrado: data_pandas2 = data_pandas.append(info_nueva, ignore_index=True)

In [19]:
data_pandas2 = pd.DataFrame(data_dic2)

In [20]:
data_pandas2

    Jurisdiccion  Poblacion  Superficie
0           CABA    2890151         200
1   Buenos Aires   15625084      307521
2      Catamarca     367828      102606
3          Chaco    1055259       99633
4         Chubut     509108      509108
5        Córdoba    3308876      165321
6          Jujuy     673307       53219
7        Mendoza    1738929      148827
8       Misiones    1101593       29801
9      Río Negro     638645      203013
10    Santa Cruz     273964      243943
11      Santa Fe    3194537      133007
12       Tucumán    1448188       22524

In [21]:
data_pandas2.insert(3, "Densidad", [14450.80, 50.8, 3.6, 10.6, 2.3, 20, 12.7, 11.7, 37, 3.1, 1.1, 24, 64.3], True)

In [22]:
data_pandas2

    Jurisdiccion  Poblacion  Superficie  Densidad
0           CABA    2890151         200   14450.8
1   Buenos Aires   15625084      307521      50.8
2      Catamarca     367828      102606       3.6
3          Chaco    1055259       99633      10.6
4         Chubut     509108      509108       2.3
5        Córdoba    3308876      165321      20.0
6          Jujuy     673307       53219      12.7
7        Mendoza    1738929      148827      11.7
8       Misiones    1101593       29801      37.0
9      Río Negro     638645      203013       3.1
10    Santa Cruz     273964      243943       1.1
11      Santa Fe    3194537      133007      24.0
12       Tucumán    1448188       22524      64.3

In [23]:
data_dic3 = {"Jurisdiccion":["CABA","Buenos Aires","Catamarca","Chaco","Chubut","Córdoba","Jujuy","Mendoza","Misiones","Río Negro","Santa Cruz",
                           "Santa Fe", "Tucumán"],"Poblacion":[2890151,15625084,367828,1055259,509108,3308876,673307,1738929,
                                                   1101593,638645,273964,3194537,1448188],"Superficie":
           [200,307521,102606,99633,509108,165321,53219,148827,29801,203013,243943,133007,22524]}

In [24]:
data_pandas3 = pd.DataFrame(data_dic3)

In [25]:
data_pandas3 ['Densidad'] = data_pandas3 ['Poblacion'] / data_pandas3 ['Superficie']

In [26]:
data_pandas3

    Jurisdiccion  Poblacion  Superficie      Densidad
0           CABA    2890151         200  14450.755000
1   Buenos Aires   15625084      307521     50.809811
2      Catamarca     367828      102606      3.584859
3          Chaco    1055259       99633     10.591461
4         Chubut     509108      509108      1.000000
5        Córdoba    3308876      165321     20.014856
6          Jujuy     673307       53219     12.651628
7        Mendoza    1738929      148827     11.684231
8       Misiones    1101593       29801     36.964968
9      Río Negro     638645      203013      3.145833
10    Santa Cruz     273964      243943      1.123066
11      Santa Fe    3194537      133007     24.017811
12       Tucumán    1448188       22524     64.295329

# 2.2 Filtrado por máscara #

Supongamos que hacemos 50 tiradas de un dado, como hicimos en la sección anterior, pero queremos seleccionar solamente aquellas tiradas que fueron menores que cuatro. ¿Cómo podemos hacerlo?

In [27]:
import numpy as np

In [28]:
muestras_dado = np.random.randint(1,7, size = 50)

In [29]:
print(muestras_dado)

[5 5 6 1 6 1 3 3 4 1 3 1 4 1 5 4 1 4 4 2 6 5 4 6 2 2 5 6 3 6 5 2 6 3 6 6 3
 3 3 3 1 6 2 5 6 6 3 4 5 5]

Lo que podemos hacer es crear una __máscara__:

En __Numpy:__

In [30]:
mascara = muestras_dado < 4

In [31]:
print (mascara)

[False False False  True False  True  True  True False  True  True  True
 False  True False False  True False False  True False False False False
  True  True False False  True False False  True False  True False False
  True  True  True  True  True False  True False False False  True False
 False False]

In [32]:
print(type(mascara))

<class 'numpy.ndarray'>

In [33]:
print(muestras_dado[mascara])

[1 1 3 3 1 3 1 1 1 2 2 2 3 2 3 3 3 3 3 1 2 3]

Notar que con __mascara.sum()__ podemos contar cuántas veces se cumple la condición que pedimos.

In [34]:
print(mascara.sum())

22

A veces, podemos hacerlo en una sola línea. Supongamos que queremos aquellas tiradas donde salió seis:

In [35]:
print(muestras_dado == 6)

[False False  True False  True False False False False False False False
 False False False False False False False False  True False False  True
 False False False  True False  True False False  True False  True  True
 False False False False False  True False False  True  True False False
 False False]

In [36]:
print(muestras_dado [muestras_dado == 6])

[6 6 6 6 6 6 6 6 6 6 6 6]

En __Pandas:__

Seleccionar aquellas jurisdicciones cuya población sea mayor a un millón de habitantes.

In [37]:
data_pandas[data_pandas.Poblacion > 1000000]

    Jurisdiccion  Poblacion  Superficie
0           CABA    2890151         200
1   Buenos Aires   15625084      307521
3          Chaco    1055259       99633
5        Córdoba    3308876      165321
7        Mendoza    1738929      148827
8       Misiones    1101593       29801
11      Santa Fe    3194537      133007

¿Jurisdicciones cuya población sea mayor a un millón de habitantes y su superficie menor a cien mil km2?

In [38]:
data_pandas[(data_pandas.Poblacion > 1000000) & (data_pandas.Superficie < 100000)]

  Jurisdiccion  Poblacion  Superficie
0         CABA    2890151         200
3        Chaco    1055259       99633
8     Misiones    1101593       29801

Es igual a..........

In [39]:
mascara = np.logical_and(data_pandas.Poblacion > 1000000, data_pandas.Superficie < 100000)

In [40]:
data_pandas [mascara]

  Jurisdiccion  Poblacion  Superficie
0         CABA    2890151         200
3        Chaco    1055259       99633
8     Misiones    1101593       29801

__Ejercicio:__ seleccionar aquellas jurisdicciones cuya población sea menor a 500 mil habitantes o su superficie mayor a cien mil km2.

In [41]:
data_pandas[(data_pandas.Poblacion < 500000) & (data_pandas.Superficie > 100000)]

   Jurisdiccion  Poblacion  Superficie
2     Catamarca     367828      102606
10   Santa Cruz     273964      243943

# 2.3 Iris dataset #

¿Pero siempre vamos a tener que crear un diccionario y luego pasarlo a un Data Frame? Evidentemente, esta opción no parece muy cómoda, en particular para conjuntos de datos de gran volumen.

__1.__ Abrir con Pandas el archivo 'DS_Bitácora_04_iris.csv' (¿Qué tipo de archivo es? __comma-separated values__) e imprimir sus primeros cinco elementos.

In [42]:
pd.read_csv('Data\DS_Bitácora_04_Iris.csv')

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
0,1,5.1,3.5,1.4,0.2,Iris-setosa
1,2,4.9,3.0,1.4,0.2,Iris-setosa
2,3,4.7,3.2,1.3,0.2,Iris-setosa
3,4,4.6,3.1,1.5,0.2,Iris-setosa
4,5,5.0,3.6,1.4,0.2,Iris-setosa
...,...,...,...,...,...,...
145,146,6.7,3.0,5.2,2.3,Iris-virginica
146,147,6.3,2.5,5.0,1.9,Iris-virginica
147,148,6.5,3.0,5.2,2.0,Iris-virginica
148,149,6.2,3.4,5.4,2.3,Iris-virginica
149,150,5.9,3.0,5.1,1.8,Iris-virginica

In [43]:
archivo = pd.read_csv('Data\DS_Bitácora_04_Iris.csv')

In [44]:
archivo.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

__2.__¿Cuántas columnas (features) tiene?¿Cuáles son sus nombres?¿Y cuántas filas (instancias)? Pistas: shape, columns.

In [45]:
archivo.shape # Filas y Columnas

(150, 6)

In [46]:
archivo.columns # Nombre Columnas

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

__3.__ Obtener el valor medio y desviación estándar de cada columna. ¿Hay alguna función de Pandas que nos dé aún más estadísticos? __.describe__

In [47]:
archivo.describe ()

               Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
count  150.000000     150.000000    150.000000     150.000000    150.000000
mean    75.500000       5.843333      3.054000       3.758667      1.198667
std     43.445368       0.828066      0.433594       1.764420      0.763161
min      1.000000       4.300000      2.000000       1.000000      0.100000
25%     38.250000       5.100000      2.800000       1.600000      0.300000
50%     75.500000       5.800000      3.000000       4.350000      1.300000
75%    112.750000       6.400000      3.300000       5.100000      1.800000
max    150.000000       7.900000      4.400000       6.900000      2.500000

¿Creen que todas las columnas tienen información? Tirar la columna que crean que está demás. Dependiendo de la función que uses - hay más de una opción -, tal vez tengas que prestar mucha atención al argumento __inplace__. Pista: __drop, del__.

In [48]:
archivo.drop('Id', axis=1)

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm         Species
0              5.1           3.5            1.4           0.2     Iris-setosa
1              4.9           3.0            1.4           0.2     Iris-setosa
2              4.7           3.2            1.3           0.2     Iris-setosa
3              4.6           3.1            1.5           0.2     Iris-setosa
4              5.0           3.6            1.4           0.2     Iris-setosa
..             ...           ...            ...           ...             ...
145            6.7           3.0            5.2           2.3  Iris-virginica
146            6.3           2.5            5.0           1.9  Iris-virginica
147            6.5           3.0            5.2           2.0  Iris-virginica
148            6.2           3.4            5.4           2.3  Iris-virginica
149            5.9           3.0            5.1           1.8  Iris-virginica

[150 rows x 5 columns]

In [49]:
archivo.info ()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Id             150 non-null    int64
 1   SepalLengthCm  150 non-null    float64
 2   SepalWidthCm   150 non-null    float64
 3   PetalLengthCm  150 non-null    float64
 4   PetalWidthCm   150 non-null    float64
 5   Species        150 non-null    object
dtypes: float64(4), int64(1), object(1)
memory usage: 7.2+ KB

In [50]:
archivo.sample(10)

,Id,SepalLengthCm,SepalWidthCm,PetalLengthCm,PetalWidthCm,Species
110,111,6.5,3.2,5.1,2.0,Iris-virginica
16,17,5.4,3.9,1.3,0.4,Iris-setosa
109,110,7.2,3.6,6.1,2.5,Iris-virginica
76,77,6.8,2.8,4.8,1.4,Iris-versicolor
84,85,5.4,3.0,4.5,1.5,Iris-versicolor
22,23,4.6,3.6,1.0,0.2,Iris-setosa
55,56,5.7,2.8,4.5,1.3,Iris-versicolor
64,65,5.6,2.9,3.6,1.3,Iris-versicolor
132,133,6.4,2.8,5.6,2.2,Iris-virginica
81,82,5.5,2.4,3.7,1.0,Iris-versicolor

In [51]:
archivo.drop('Id', axis=1).head() # Puedo ir combinando diferentes funciones (Ej: tmb me toma las primeras 4 filas).

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [52]:
del archivo['Species']

In [53]:
archivo

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
0      1            5.1           3.5            1.4           0.2
1      2            4.9           3.0            1.4           0.2
2      3            4.7           3.2            1.3           0.2
3      4            4.6           3.1            1.5           0.2
4      5            5.0           3.6            1.4           0.2
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

[150 rows x 5 columns]

__5.__ ¿Para qué sirven __loc__ e __iloc__? Crea algunos ejemplos.

El método __iloc__ se utiliza en los DataFrames para seleccionar los elementos en base a su ubicación. Su sintaxis es data.iloc[<filas>, <columnas>], donde <filas> y <columnas> son la posición de las filas y columnas que se desean seleccionar en el orden que aparecen en el objeto.  
En caso de que se omita la columna, se seleccionarán todas las columnas de la fila.

df.iloc[:, 0] # Primera columna  
df.iloc[:, 1] # Segunda columna  
df.iloc[:, -1] # Última columna

df.iloc[0:5] # Primeras cinco filas  
df.iloc[:, 0:5] # Primeras cinco columnas  
df.iloc[[0,2,1]]  # Primera, tercera y segunda filas  
df.iloc[:, [0,2,1]]  # Primera, tercera y segunda columnas

In [54]:
archivo.iloc [1:2][0:5] # Selecciona datos o elementos en base a la posición.

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
1   2            4.9           3.0            1.4           0.2

El método __loc__ se puede usar de dos formas diferentes: seleccionar filas o columnas en base a una etiqueta o seleccionar filas o columnas en base a una condición.

__Nota:__ usando [[]] returns a DataFrame.

In [55]:
archivo.loc [1:2][0:5] # Seleccionar datos por etiqueta o por un enunciado condicional.

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
1   2            4.9           3.0            1.4           0.2
2   3            4.7           3.2            1.3           0.2

In [74]:
archivo.loc [0:5][['PetalLengthCm','PetalWidthCm']]

   PetalLengthCm  PetalWidthCm
0            1.4           0.2
1            1.4           0.2
2            1.3           0.2
3            1.5           0.2
4            1.4           0.2
5            1.7           0.4

In [80]:
archivo.loc[archivo['PetalLengthCm'] > 3.0]

      Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
50    51            7.0           3.2            4.7           1.4
51    52            6.4           3.2            4.5           1.5
52    53            6.9           3.1            4.9           1.5
53    54            5.5           2.3            4.0           1.3
54    55            6.5           2.8            4.6           1.5
..   ...            ...           ...            ...           ...
145  146            6.7           3.0            5.2           2.3
146  147            6.3           2.5            5.0           1.9
147  148            6.5           3.0            5.2           2.0
148  149            6.2           3.4            5.4           2.3
149  150            5.9           3.0            5.1           1.8

[99 rows x 5 columns]

__Aclaraciones:__ si se han seleccionado las filas del 1 al 4 y se carga el resultado en un nuevo DataFrame a la hora de acceder a la fila 1 con loc se tendrá la primera del nuevo objeto mientras que iloc devolverá la segunda. Esto es así porque los índices se conservan, pero no las posiciones.

In [56]:
archivo_sub = archivo.loc[1:5]
archivo_sub.loc[1]

Id               2.0
SepalLengthCm    4.9
SepalWidthCm     3.0
PetalLengthCm    1.4
PetalWidthCm     0.2
Name: 1, dtype: float64