In [1]:
nombre = 'Alejandra'

In [2]:
edad = 31

In [3]:
print (nombre, edad)

Alejandra 31

In [4]:
print ('Mi nombre es', nombre,'. Mi edad es', edad, 'anios.')

Mi nombre es Alejandra . Mi edad es 31 anios.

In [5]:
print ('Mi nombre es {}. Mi edad es {} anios'.format (nombre, edad))

Mi nombre es Alejandra. Mi edad es 31 anios

In [6]:
edad_papa = 50

In [7]:
edad < edad_papa

True

In [8]:
edad > edad_papa

False

Armar Listas con []

In [9]:
edades_curso = [12,34,56,78,'no se',34.2]

In [10]:
print (edades_curso)

[12, 34, 56, 78, 'no se', 34.2]

Las variables Booleanas, SIEMPRE deben comenzar con letra MAYUSCULA

In [11]:
Me_gusta_tomar_cafe = True

In [12]:
type (edad)

int

In [13]:
type (nombre)

str

In [14]:
type (Me_gusta_tomar_cafe)

bool

In [15]:
type (edades_curso)

list

In [18]:
flotante = 1.5

In [19]:
type (flotante)

float

In [20]:
edad = str ('31')

In [21]:
edad

'31'

In [22]:
type (edad)

str

In [23]:
edad = float ('31.1')

In [24]:
edad

31.1

In [25]:
type (edad)

float

In [26]:
type (1<2)

bool

In [28]:
type (1==2)

bool

In [29]:
1 == 1

True

In [30]:
1 == 2

False

Si quiero crear un nÃºmero *negativo*, NO pongo espacio entre el MENOS y el NUMERO, porque sino estoy RESTANDO

In [32]:
numero_negativo = -2

In [33]:
type (numero_negativo)

int

In [37]:
resultado = 23*(5+12)

In [38]:
resultado

391

In [39]:
x = 23

In [40]:
y = 5

In [41]:
z = 12

In [42]:
resultado2 = x*(y+z)

In [43]:
resultado2

391

In [45]:
lista1 = [4,6,7]

In [46]:
lista1.append ('ale')

In [47]:
lista1

[4, 6, 7, 'ale']

.append es para AGREGAR valores a una lista

In [49]:
lista = [2378,78,45.2, 'Hola']

for elemento in lista:
    print (elemento)

2378
78
45.2
Hola

In [58]:
lista1 = [1,2,3,'Hola']
lista2 = []

for elemento in lista1:
    lista2.append(elemento)
print (lista2)

[1, 2, 3, 'Hola']

Tanto las LISTAS como las CADENAS son ITERABLES, o sea que se va imprimiendo cada valor, uno abajo del otro

In [1]:
numero = 1
while (numero < 12):
    print (numero)
    numero=numero+1

1
2
3
4
5
6
7
8
9
10
11